ul{
   list-style-type: none;
}

li{
    background-color: var(--principal-default);
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--very-dark-blue);;
    
}