:root {
    --principal-blue: rgba(87, 113, 255, 1);
    --principal-yelow: rgba(255, 213, 79, 1);
    --very-dark-blue: hsl(229, 57%, 11%);
    --principal-default: rgba(242, 242, 242, 1);
}

.bg-blue {
    background-color: rgba(87, 113, 255, 1);
}


h1 {
    text-shadow: 1px 1px 3px var(--very-dark-blue);
}

ul {
    list-style-type: none;
}

li {
    background-color: var(--principal-default);
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--very-dark-blue);
}

.btn-add-pet {
    color: #30bc48;
    font-size: 64px;
    background-color: white;
    border-radius: 2em;
    margin: 20px;
    z-index: -100;
}

header, footer{
    padding: 20px;
}

.bg-img {
    transform: rotate(-25deg);
    width: 300px;
    z-index: -100;
    float: right;
    right: -130px;
    overflow: hidden;
    position: absolute;
}